{% extends 'base.html' %}


{% block title %}
    Home
{% endblock %}


{% block content %}
    <h4>Home Page</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
    <hr>

    <div class="card">
        {% for number in numbers %}
            <a href="{% url 'home:nums' number.id %}" class="card-body">{{ number.x }} + {{ number.y }}
                = {{ number.result }}</a>
        {% endfor %}
    </div>


{% endblock %}